<!--
	Practica 5- Miriam Colino
	Pagina secundaria Registrarse
-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <style>
	.derecha {
	margin: 1%;
	position: absolute;
	top=100%
	right: 50%;
	left: 90%;

	}
	 footer {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 50px;
        }
	</style>
</head>

<body>
<div class="derecha">
  <a href="index.html" class="btn btn-info btn-lg">
    <span class="glyphicon glyphicon-home" align="left"></span> Home
  </a>
</div>
<div class="container-fluid p-5 text-white text-center" style="background-color:#fa9e56;">
  <div style="position:absolute">
    <img src="https://miriamcol.github.io/Practica4/Resources/logo-repsol-removebg-preview.png" width="40%" height="40%" align="left">
  </div>
  </br></br>
  <h1 style="color:white;">Registrarse</h1>
  <p style="color:white;">Regístrate y unéte a la comunidad Repsol</p>

</div>
</br></br>



<form action="#" th:action="@{/info}" th:object="${registrarse}" method="post">
  <div class="w3-panel w3-border w3-round-xlarge text-center">
    <div class="field">
      <p>Nombre: <input type="text" th:field="*{fname}" /></p>
      <small class="form-text text-danger" th:if="${#fields.hasErrors('fname')}" th:errors="*{fname}"></small>
        <br><br>
    </div>
    <div class="field">
      <p>Apellidos: <input type="text" th:field="*{lname}"/></p>
      <small class="form-text text-danger" th:if="${#fields.hasErrors('lname')}" th:errors="*{lname}"></small>
      <br><br>
    </div>
    <div class="field">
      <p>Edad: <input type="text" th:field="*{age}"/></p>
      <small class="form-text text-danger" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></small>
      <br><br>
    </div>

    <div class="field">
      <p>Tipo de identificador:<p>
      <select name="select" >
        <option value="value1">NIF</option>
        <option value="value2" selected="">DNI</option>
        <option value="value3">NIE</option>
      </select><br><br>
    </div>
    <div class="field">
      <p>Identificacion: <input type="text" th:field="*{ident}"/></p>
      <small class="form-text text-danger" th:if="${#fields.hasErrors('ident')}" th:errors="*{ident}"></small>
      <br><br>
    </div>
    <div class="field">
      <p>Contraseña: <input type="password" th:field="*{pass}"/></p>
      <small class="form-text text-danger" th:if="${#fields.hasErrors('pass')}" th:errors="*{pass}"></small>
      <br><br>
    </div>

    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
  </div>



</form>

<!--

<footer>
  <div style="background-color: #fa9e56">
    <p style="color:white;">
      <strong>¡Síguenos en Redes Sociales y no te pierdas nada!</strong> <br/><br/>
    </p>
    <a href="https://twitter.com/Repsol" target="_blank">
      <img width="40" height="40" src="https://miriamcol.github.io/Practica4/Resources/TwitterLogo.png" alt="No se pudo encontrar">
    </a>
    <a  href="https://www.instagram.com/repsol/?hl=es" target="_blank">
      <img width="40" height="40" src="https://miriamcol.github.io/Practica4/Resources/InstagramLogo.png" alt="No se pudo encontrar">
    </a>
    <a  href="http://www.facebook.com/guiarepsol" target="_blank">
      <img width="40" height="40" src="https://miriamcol.github.io/Practica4/Resources/FacebookLogo.png" alt="No se pudo encontrar">
    </a>
    <a  href="http://www.linkedin.com/company/repsol" target="_blank">
      <img width="40" height="40" src="https://miriamcol.github.io/Practica4/Resources/LinkedinLogo.png" alt="No se pudo encontrar">
    </a>
    <a href="https://www.youtube.com/repsol" target="_blank">
      <img width="40" height="40" src="https://miriamcol.github.io/Practica4/Resources/YoutubeLogo.png" alt="No se pudo encontrar">
    </a>
  </div>
</footer>
-->

</body>
</html>
